@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card-frame {
        @apply w-full bg-glass-bg border border-white/5 rounded-sm p-2 shadow-2xl relative overflow-hidden;
    }

    .score-card {
        @apply card-frame max-w-xs md:max-w-xl aspect-[3/4] 
        bg-[#1a130f] border-white/10 p-3 
        shadow-[0_20px_50px_-12px_rgba(0,0,0,0.7)] 
        group-hover:border-white/20 transition-all duration-1000 ease-out;
    }

    .score-card::after {
        content: "";
        @apply absolute inset-0 w-full h-full pointer-events-none transition-opacity duration-1000;
        background: radial-gradient(circle at center, transparent 40%, rgba(15, 10, 8, 0.6) 100%);
    }
    
    .score-card:hover::after { opacity: 0.4; }

    .score-img {
        @apply w-full h-full object-cover 
        invert sepia-[.80] saturate-[.80] contrast-125 brightness-90 mix-blend-screen opacity-80 
        group-hover:opacity-100 group-hover:scale-[1.03] group-hover:brightness-110 group-hover:sepia-[.60]
        transition duration-1000 ease-in-out;
        image-rendering: -webkit-optimize-contrast;
    }

    .album-card {
        @apply card-frame max-w-xs md:max-w-lg aspect-square;
    }

    .album-img {
        @apply w-full h-full object-cover 
        opacity-90 group-hover:opacity-100 transition duration-700 
        shadow-[inset_0_0_20px_rgba(0,0,0,0.5)];
    }
}